# Creating Recommender System

Importing movie lens dataset and using pandas.

And combining two tab delimited files so that we can use Movie name instead of the Movie id's

In [86]:
import pandas as pd

In [150]:
ratings_cols = ['user_id', 'movie_id', 'rating']
ratings = pd.read_csv('D:/DataScience/Introtallent/Python Project/Movie Recommender System/u.data', sep='\t', names=r_cols, usecols=range(3), encoding="ISO-8859-1")

movies_cols = ['movie_id', 'title']
movies = pd.read_csv('D:/DataScience/Introtallent/Python Project/Movie Recommender System/u.item', sep='|', names=m_cols, usecols=range(2), encoding="ISO-8859-1")

ratings = pd.merge(movies, ratings)

Looking the merge data set

In [151]:
ratings.head()

   movie_id             title  user_id  rating
0         1  Toy Story (1995)      308       4
1         1  Toy Story (1995)      287       5
2         1  Toy Story (1995)      148       4
3         1  Toy Story (1995)      280       4
4         1  Toy Story (1995)       66       3

Now we will use pivot_table function on the dataframe we have created.

And will construct a user and movie rating matrix.

The NAN value represent that the user didnt rated that particular movie

In [152]:
movieRatings = ratings.pivot_table(index=['user_id'], columns=['title'], values='rating')
movieRatings.head()

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
user_id,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2.0,5.0,NaN,NaN,3.0,4.0,NaN,NaN,...,NaN,NaN,NaN,5.0,3.0,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Lets extract only those users who rated Star wars Movies

In [153]:
starWarsRatings = movieRatings['Star Wars (1977)']
starWarsRatings.head()

user_id
0    5.0
1    5.0
2    5.0
3    NaN
4    5.0
Name: Star Wars (1977), dtype: float64

So we have created a Vector of Users who rated Star wars Movies

Pandas' corrwith function makes it really easy to compute the correlation of Star Wars vector of user rating with every other movie! After that, we'll drop any results that have no data, and construct a new DataFrame of movies and their correlation score (similarity) to Star Wars:

In [154]:
similarMovies = movieRatings.corrwith(starWarsRatings)
similarMovies = similarMovies.dropna()
df = pd.DataFrame(similarMovies)
df.head(10)

C:\Users\PARV\Anaconda3\lib\site-packages\numpy\lib\function_base.py:2392: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
C:\Users\PARV\Anaconda3\lib\site-packages\numpy\lib\function_base.py:2326: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

                                            0
title
'Til There Was You (1997)            0.872872
1-900 (1994)                        -0.645497
101 Dalmatians (1996)                0.211132
12 Angry Men (1957)                  0.184289
187 (1997)                           0.027398
2 Days in the Valley (1996)          0.066654
20,000 Leagues Under the Sea (1954)  0.289768
2001: A Space Odyssey (1968)         0.230884
39 Steps, The (1935)                 0.106453
8 1/2 (1963)                        -0.142977

Now lets sort the correlation score and at the top we would be having the movies which are more simlar to the Star wars

In [155]:
similarMovies.sort_values(ascending=False)

title
No Escape (1994)                                                                     1.000000
Man of the Year (1995)                                                               1.000000
Hollow Reed (1996)                                                                   1.000000
Commandments (1997)                                                                  1.000000
Cosi (1996)                                                                          1.000000
Stripes (1981)                                                                       1.000000
Golden Earrings (1947)                                                               1.000000
Mondo (1996)                                                                         1.000000
Line King: Al Hirschfeld, The (1996)                                                 1.000000
Outlaw, The (1943)                                                                   1.000000
Hurricane Streets (1998)                                                             1.000000
Scarlet Letter, The (1926)                                                           1.000000
Safe Passage (1994)                                                                  1.000000
Good Man in Africa, A (1994)                                                         1.000000
Full Speed (1996)                                                                    1.000000
Old Lady Who Walked in the Sea, The (Vieille qui marchait dans la mer, La) (1991)    1.000000
Star Wars (1977)                                                                     1.000000
Ed's Next Move (1996)                                                                1.000000
Twisted (1996)                                                                       1.000000
Beans of Egypt, Maine, The (1994)                                                    1.000000
Last Time I Saw Paris, The (1954)                                                    1.000000
Maya Lin: A Strong Clear Vision (1994)                                               1.000000
Designated Mourner, The (1997)                                                       0.970725
Albino Alligator (1996)                                                              0.968496
Angel Baby (1995)                                                                    0.962250
Prisoner of the Mountains (Kavkazsky Plennik) (1996)                                 0.927173
Love in the Afternoon (1957)                                                         0.923381
'Til There Was You (1997)                                                            0.872872
A Chef in Love (1996)                                                                0.868599
Guantanamera (1994)                                                                  0.866025
                                                                                       ...
Pushing Hands (1992)                                                                -1.000000
Lamerica (1994)                                                                     -1.000000
Year of the Horse (1997)                                                            -1.000000
Collectionneuse, La (1967)                                                          -1.000000
Dream Man (1995)                                                                    -1.000000
S.F.W. (1994)                                                                       -1.000000
Nightwatch (1997)                                                                   -1.000000
Squeeze (1996)                                                                      -1.000000
Glass Shield, The (1994)                                                            -1.000000
Slingshot, The (1993)                                                               -1.000000
Lover's Knot (1996)                                                                 -1.000000
Tough and Deadly (1995)                                                             -1.000000
Sliding Doors (1998)                                                                -1.000000
Show, The (1995)                                                                    -1.000000
Nil By Mouth (1997)                                                                 -1.000000
Fall (1997)                                                                         -1.000000
Sudden Manhattan (1996)                                                             -1.000000
Salut cousin! (1996)                                                                -1.000000
Neon Bible, The (1995)                                                              -1.000000
Crossfire (1947)                                                                    -1.000000
Love and Death on Long Island (1997)                                                -1.000000
For Ever Mozart (1996)                                                              -1.000000
Swept from the Sea (1997)                                                           -1.000000
Fille seule, La (A Single Girl) (1995)                                              -1.000000
American Dream (1990)                                                               -1.000000
Theodore Rex (1995)                                                                 -1.000000
I Like It Like That (1994)                                                          -1.000000
Two Deaths (1995)                                                                   -1.000000
Roseanna's Grave (For Roseanna) (1997)                                              -1.000000
Frankie Starlight (1995)                                                            -1.000000
Length: 1410, dtype: float64

We got to know that movies with high correlation score doesnt are similar, it is because of the those users who have liked Star wars and watched other movies as well that are not relevant or simlar to the star wars.

So to handle this we need to count number of ratings exists to each movie and find average rating

In [156]:
import numpy as np
movieStats = ratings.groupby('title').agg({'rating': [np.size, np.mean]})
movieStats.head()

                          rating
                            size      mean
title
'Til There Was You (1997)      9  2.333333
1-900 (1994)                   5  2.600000
101 Dalmatians (1996)        109  2.908257
12 Angry Men (1957)          125  4.344000
187 (1997)                    41  3.024390

So we will take a threshold of 100 rating per movie and will only take those movies that have at least 100 ratings from diffrent users

In [157]:
popularMovies = movieStats['rating']['size'] >= 100
movieStats[popularMovies].sort_values([('rating', 'mean')], ascending=False)[:15]

                                       rating
                                         size      mean
title
Close Shave, A (1995)                     112  4.491071
Schindler's List (1993)                   298  4.466443
Wrong Trousers, The (1993)                118  4.466102
Casablanca (1942)                         243  4.456790
Shawshank Redemption, The (1994)          283  4.445230
Rear Window (1954)                        209  4.387560
Usual Suspects, The (1995)                267  4.385768
Star Wars (1977)                          584  4.359589
12 Angry Men (1957)                       125  4.344000
Citizen Kane (1941)                       198  4.292929
To Kill a Mockingbird (1962)              219  4.292237
One Flew Over the Cuckoo's Nest (1975)    264  4.291667
Silence of the Lambs, The (1991)          390  4.289744
North by Northwest (1959)                 179  4.284916
Godfather, The (1972)                     413  4.283293

Let's join this data with our original set of similar movies to Star Wars

In [158]:
movieStats[popularMovies].head()

                             rating
                               size      mean
title
101 Dalmatians (1996)           109  2.908257
12 Angry Men (1957)             125  4.344000
2001: A Space Odyssey (1968)    259  3.969112
Absolute Power (1997)           127  3.370079
Abyss, The (1989)               151  3.589404

In [159]:
df = movieStats[popularMovies].join(pd.DataFrame(similarMovies, columns=['similarity']))

C:\Users\PARV\Anaconda3\lib\site-packages\pandas\core\reshape\merge.py:522: UserWarning: merging between different levels can give an unintended result (2 levels on the left, 1 on the right)
  warnings.warn(msg, UserWarning)

In [160]:
df.head()

                              (rating, size)  (rating, mean)  similarity
title
101 Dalmatians (1996)                    109        2.908257    0.211132
12 Angry Men (1957)                      125        4.344000    0.184289
2001: A Space Odyssey (1968)             259        3.969112    0.230884
Absolute Power (1997)                    127        3.370079    0.085440
Abyss, The (1989)                        151        3.589404    0.203709

Sort these new results by similarity score

In [161]:
df.sort_values(['similarity'], ascending=False)[:15]

,"(rating, size)","(rating, mean)",similarity
title,,,
Star Wars (1977),584,4.359589,1.000000
"Empire Strikes Back, The (1980)",368,4.206522,0.748353
Return of the Jedi (1983),507,4.007890,0.672556
Raiders of the Lost Ark (1981),420,4.252381,0.536117
Austin Powers: International Man of Mystery (1997),130,3.246154,0.377433
"Sting, The (1973)",241,4.058091,0.367538
Indiana Jones and the Last Crusade (1989),331,3.930514,0.350107
Pinocchio (1940),101,3.673267,0.347868
"Frighteners, The (1996)",115,3.234783,0.332729
L.A. Confidential (1997),297,4.161616,0.319065
Wag the Dog (1997),137,3.510949,0.318645
Dumbo (1941),123,3.495935,0.317656
"Bridge on the River Kwai, The (1957)",165,4.175758,0.316580
"Philadelphia Story, The (1940)",104,4.115385,0.314272
Miracle on 34th Street (1994),101,3.722772,0.310921

# +++++++ Predicting Rating ++++++++

For predicting Movies rating we will look at the 10 movies that are closest to it in terms of genres and popularity.

For this we will use KNN (K-Nearest-Neighbour) it is a simple concept it finds some distance between the items in datasets and find the K closest items and we can use them to predict some properties of the item through it.

In [99]:
import pandas as pd

r_cols = ['user_id', 'movie_id', 'rating']
ratings = pd.read_csv('D:/DataScience/Introtallent/Python Project/Movie Recommender System/u.data', sep='\t', names=r_cols, usecols=range(3), encoding="ISO-8859-1")
ratings.head(10)

   user_id  movie_id  rating
0        0        50       5
1        0       172       5
2        0       133       1
3      196       242       3
4      186       302       3
5       22       377       1
6      244        51       2
7      166       346       1
8      298       474       4
9      115       265       2

Now we will group all the movies by the Movie IDs, and compute the total number of ratings given by users and the average rating for the movie

In [100]:
import numpy as np

movieProperties = ratings.groupby('movie_id').agg({'rating': [np.size, np.mean]})
movieProperties.head()

         rating
           size      mean
movie_id
1           452  3.878319
2           131  3.206107
3            90  3.033333
4           209  3.550239
5            86  3.302326

So this numbers in size arent very usefull for calculating the distance between movies. So we will create a new dataframe in which we will normalize it to between 0 to 1 such that 0 means no one rated that movie and value near to 1 means that it is most popular

In [101]:
# Here we are trying to is that we will first find min size or lowest number of reviews on a movie by np.min(x)
# then we will find max number of reviews given to a particualr movie in the whole data set it will be the max
# it will be done through np.max(x) and then by using lambda function forevery movie we will just normalize it
# close to 1 is top popular movie as max ppl reviwed it and close to zero is unpoppular
movieNumRatings = pd.DataFrame(movieProperties['rating']['size'])
movieNormalizedNumRatings = movieNumRatings.apply(lambda x: (x - np.min(x)) / (np.max(x) - np.min(x)))
movieNormalizedNumRatings.head()

              size
movie_id
1         0.773585
2         0.222985
3         0.152659
4         0.356775
5         0.145798

So we are done with Popularity part

Now we need to work on genre

So in our dataset we have 19 genres mentioned and in such a way that a single movie can belong to multiple genre 
so if value 0 is there means that it doesnt belongs to that genre and if 1 is present so that movie belongs to the genre

we will create a Python dictionary in which each entry will have Movie Name, List of Genre values, the normalized popularity score and the average rating score for that particualr movie

In [102]:
movieDict = {}
with open(r'D:/DataScience/Introtallent/Python Project/Movie Recommender System/u.item', encoding = 'ISO-8859-1') as f:
    temp = ''
    for line in f:
        fields = line.rstrip('\n').split('|')
        movieID = int(fields[0])
        name = fields[1]
        genres = fields[5:25]
        genres = map(int, genres) # as 0 1 0 1 was as a string so converted into int by using map function
        movieDict[movieID] = (name,np.array(list(genres)), movieNormalizedNumRatings.loc[movieID].get('size'), movieProperties.loc[movieID].rating.get('mean'))

lets check for the movieID 1

In [103]:
print(movieDict[1])

('Toy Story (1995)', array([0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]), 0.7735849056603774, 3.8783185840707963)

Creating a function to calculate the distance between between two movies based on the how similar their genres are, how similar there popularity is

In [104]:
from scipy import spatial

def computeDistance(a,b):
    genreA = a[1]
    genreB = b[1]
    # there are diffrent ways of calculating the distance most popular is eculidean and cosine distance
    genreDistance = spatial.distance.euclidean(genreA, genreB)
    popularityA = a[2]
    popularityB = b[2]
    popularityDistance = spatial.distance.euclidean(popularityA, popularityB)
    # or we can calculate popularity distance by
    # popularityDistance = abs(popularityA - popularityB)
    # abs is a function which is used to create absolute value of a number.
    # for example number is -54.27 so abs(-54.27) will be 54.27
    return genreDistance + popularityDistance

computeDistance(movieDict[2],movieDict[4])

Calculating the distance by cosine distance as well

In [127]:
def computeDistance(a,b):
    genreA = a[1]
    genreB = b[1]
    # there are diffrent ways of calculating the distance most popular is eculidean and cosine distance
    genreDistance = spatial.distance.cosine(genreA, genreB)
    popularityA = a[2]
    popularityB = b[2]
    #popularityDistance = spatial.distance.cosine(popularityA, popularityB)
    # or we can calculate popularity distance by
    popularityDistance = abs(popularityA - popularityB)
    # abs is a function which is used to create absolute value of a number.
    # for example number is -54.27 so abs(-54.27) will be 54.27
    return genreDistance + popularityDistance

computeDistance(movieDict[2],movieDict[4])

0.8004574042309892

Remember the smallest the distance the higher the similarities are there

In [128]:
print(movieDict[2])
print(movieDict[4])

('GoldenEye (1995)', array([0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0]), 0.22298456260720412, 3.2061068702290076)
('Get Shorty (1995)', array([0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]), 0.3567753001715266, 3.550239234449761)

Now we will define a function that will calculate the distance between some given movie and all of the movies in our dataset

In [129]:
import operator

def getNeighbors(movieID, K):
    distances = []
    for movie in movieDict:
        if(movie != movieID):
            dist = computeDistance(movieDict[movieID], movieDict[movie])
            distances.append((movie,dist))
    distances.sort(key=operator.itemgetter(1))
    # this sort function will go in our distance list which consists of tuples and will sort on the index of 1 i.e.
    # 0 or 1 so 1 here is the dist which will be in ascending order so will get lowest distance movies on the top
    # and far distance movies on the last it is been done by sort.(key=operator.itemgetter(1)) function
    neighbors = []
    for x in range(K):
        neighbors.append(distances[x][0])
    return neighbors

In [141]:
K = 10
avgRating = 0
neighbors = getNeighbors(1, K)
for neighbor in neighbors:
    avgRating += movieDict[neighbor][3]
    print (movieDict[neighbor][0] + " " + str(movieDict[neighbor][3]))
    
avgRating /= K

print("When K is 10 so predicted rating is:  ",avgRating)

Liar Liar (1997) 3.156701030927835
Aladdin (1992) 3.8127853881278537
Willy Wonka and the Chocolate Factory (1971) 3.6319018404907975
Monty Python and the Holy Grail (1974) 4.0664556962025316
Full Monty, The (1997) 3.926984126984127
George of the Jungle (1997) 2.685185185185185
Beavis and Butt-head Do America (1996) 2.7884615384615383
Birdcage, The (1996) 3.4436860068259385
Home Alone (1990) 3.0875912408759123
Aladdin and the King of Thieves (1996) 2.8461538461538463
When K is 10 so predicted rating is:   3.3445905900235564

In [135]:
movieDict[1]

('Toy Story (1995)',
 array([0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]),
 0.7735849056603774,
 3.8783185840707963)

In [142]:
K = 5
avgRating = 0
neighbors = getNeighbors(1, K)
for neighbor in neighbors:
    avgRating += movieDict[neighbor][3]
    print (movieDict[neighbor][0] + " " + str(movieDict[neighbor][3]))
    
avgRating /= K

print("When K is 5 so predicted rating is:  ",avgRating)

Liar Liar (1997) 3.156701030927835
Aladdin (1992) 3.8127853881278537
Willy Wonka and the Chocolate Factory (1971) 3.6319018404907975
Monty Python and the Holy Grail (1974) 4.0664556962025316
Full Monty, The (1997) 3.926984126984127
When K is 5 so predicted rating is:   3.7189656165466287

We computed the average rating of the 10 nearest neighbor and 5 nearest neighbor to the Movie having ID 1 which is Toy Story

and found that when K is 5 so the accuracy is good.

In [145]:
print("When K is 5 so predicted rating is:",avgRating)

When K is 5 so predicted rating is: 3.7189656165466287

In [149]:
print("Toy story actual average rating is:",movieDict[1][3])

Toy story actual average rating is: 3.8783185840707963

Not soo Bad